:root{
    font-size: 16px;
    font-family: 'Open Sans';
    --transition-speed: 600ms;
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --blue: #0084a5;
    --purple: #a82dd1;
    --yellow: #fff565;
    --whitesmoke: rgb(245, 245, 245);
    --alpine: rgb(5, 27, 22);
}

.light{
    --navbg: var(--gray1);
    --texthov: var(--whitesmoke);
    --text: var(--alpine);
    --itemhovpr1: #ff7eee;
    --itemhovpr2: #df49a6;
    --item1: var(--gray4);
    --item2: var(--gray6);
    --itembg: var(--gray5);
}




.dark{
    --navbg: var(--gray6);
    --texthov: var(--alpine);
    --text: var(--whitesmoke);
    --itemhovpr1: #ff7eee;
    --itemhovpr2: #df49a6;
    --item1: var(--gray2);
    --item2: var(--gray0);
    --itembg: var(--gray2);
}

.solarized{

}


body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main{
    margin-left: 5rem;
    padding: 1rem;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #6449b8;
}

.navbar{
    position: fixed;
    transition: width 200ms ease;
    background-color: var(--navbg);
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav-item{
    width: 100%;
}



.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    filter: grayscale(0%) opacity(1);
    transition: var(--transition-speed);
    color: var(--text);
    font-weight: bold;
    
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    color: var(--texthov);
    background: var(--itembg);
}
.nav-item:hover .fa-primary {
    color: var(--itemhovpr1);
}

.nav-item:hover .fa-secondary {
    color: var(--itemhovpr2);
}


.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: var(--item1);
}
 .fa-secondary {
    color: var(--item2);
}

.fa-primary, .fa-secondary{
    transition: var(--transition-speed);
}

.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg{
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}


.navbar:hover .logo svg{
    transform: rotate(-180deg);
}
.logo .fa-primary{
    color: var(--itemhovpr1)
}
.logo .fa-secondary{
    color: var(--itemhovpr2);
}


/*small screens */
@media only screen and (max-width: 600px){
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo{
        display: none;
    }

    .navbar-nav{
        flex-direction: row;
    }
    .nav-link{
        justify-content: center;
    }

    main{
        margin: 0;
    }
}


/*large screens*/
@media only screen and (min-width: 600px) {
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }

    #dark {
        margin-top: 60px;
    }
}